/*=============================================================Movie Services Section==========================================================================*/

.whatmovies__services-title {
    font-size: 30px;
    position: relative;
    margin-top: 20rem;
    text-align: center;
    animation: infinite;
    color: white;
}