/*============================================================Sections=====================================================================*/

.whatmovies__latest,
.whatmovies__most-popular,
.whatmovies__being-watched,
.whatmovies__top-rated {
    background-color: #24292F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 10px;
    height: 70px;
}

.whatmovies__latest {
    position: relative;
    margin-top: -0.5rem;
}

.whatmovies__most-popular {
    position: relative;
    margin-top: 20rem;
}

.whatmovies__being-watched {
    position: relative;
    margin-top: 20rem;
}

.whatmovies__top-rated {
    position: relative;
    margin-top: 20rem;
}

ul {
    position: absolute;
    list-style: none;
    font-size: 20px;
}

/*==========================================================Section Buttons=================================================================*/

.whatmovies__latest button,
.whatmovies__most-popular button,
.whatmovies__being-watched button,
.whatmovies__top-rated button {
    background-color: transparent; 
    color: yellow; 
    padding: 20px; 
    border: none; 
    border-radius: 50%; 
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
  
.whatmovies__latest .Previous,
.whatmovies__most-popular .Previous,
.whatmovies__being-watched .Previous,
.whatmovies__top-rated .Previous {
    position: absolute;
    transform: translate(0%, 350%);
    margin-left: 0%; 
}

.whatmovies__latest .Next,
.whatmovies__most-popular .Next,
.whatmovies__being-watched .Next,
.whatmovies__top-rated .Next {
    transform: translate(0%, 350%);
    margin-right: 0; 
    z-index: 10;
}

.whatmovies__latest button:hover,
.whatmovies__most-popular button:hover,
.whatmovies__being-watched button:hover,
.whatmovies__top-rated button:hover {
    background-color: darkgoldenrod; 
}

/*============================================================Image Sliders===================================================================*/

/* Slider Starts Here */

.image-slider {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate(2.5%, 69%);
}

.image-slider p {
    text-align: center;
    will-change: transform;
    -webkit-overflow-scrolling: touch; /* Add touch scrolling for smoother experience on iOS */
}
  
.slider-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    font-size: 15px;
    text-align: center;
}
  
.slide {
    flex: 0 0 9.4vw; 
    box-sizing: border-box;
    min-width: 230px;
    max-width: 230px;
}
  
.slide img {
    width: 200px; 
    height: 250px;
    cursor: pointer;
}

.slide img:hover {
    scale: 1.1;
}
  
.active {
    transform: translateX(0);
}
  
.image-row {
    display: flex;
    margin-top: 10px;
}
  
.image-row img {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

.image-slider {
    position: relative;
}
  
.slider-wrapper {
    display: flex;
}
  
  
.slide {
    flex: 0 0 auto; 
    margin-right: 10px; 
}
  

.movie-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #24292F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    z-index: 1000; 
}
  
.movie-modal button {
    cursor: pointer;
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/*============================================================Section Indicators===================================================================*/

.section-indicators {
    position: absolute;
    right: 0%; 
    bottom: 30px; 
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
}

.section-indicator {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.section-indicator.active {
    background-color: #ccc;
}

/*=============================================================Media Content==========================================================================*/

@media screen and (max-width: 1440px) {
    .movie-orbit {
      display: none;
    }

    .whatmovies__latest {
        margin-top: -0.5rem;
    }

    .whatmovies__most-popular {
        margin-bottom: 2rem;
    }

    .whatmovies__being-watched {
        margin-bottom: 2rem;
    }

    .whatmovies__top-rated {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .whatmovies__latest,
    .whatmovies__most-popular,
    .whatmovies__being-watched,
    .whatmovies__top-rated {
        height: 70px;
        position: relative; 
        bottom: 0; 
        transform: translate(0%, -600%); 
        margin-top: 330px; 
    }

    .whatmovies__latest button,
    .whatmovies__most-popular button,
    .whatmovies__being-watched button,
    .whatmovies__top-rated button  {
        height: 55px;
    }

    .whatmovies__background-image-title:hover {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .whatmovies__find-movies button {
        padding: 20px;
        margin: 30px auto;
        border-radius: 100px 100px / 120px;
        cursor: pointer;
        font-family: 'cooper black';
        box-sizing: border-box;
        width: 80%;
        max-width: 400px;
    }

    p {
        font-size: 8vw; /* Responsive font size based on viewport width */
        margin-top: 10px;
    }
}