/*=============================================================Media Content==========================================================================*/

@media screen and (max-width: 1440px) {
    .movie-orbit {
      display: none;
    }

    .whatmovies__coming-soon {
        bottom: -210px; /* Adjust as needed */
    }

    .whatmovies__top-picks {
        bottom: -620px; /* Adjust as needed */
    }

    .whatmovies__watched-now {
        bottom: -1030px; /* Adjust as needed */
    }

    .whatmovies__most-popular {
        bottom: -1440px; /* Adjust as needed */
    }
}

@media screen and (max-width: 1000px) {
    .whatmovies__background-image img {
        width: 100%;
        height: auto;
        opacity: 30%;
    }

    .whatmovies__background-image-title {
        width: 80%;
        max-width: 750px;
        height: auto;
        backdrop-filter: blur(10px);
        opacity: 0.85;
        border-radius: 10px;
        padding: 20px;
        color: white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transform: translate(12.5%, -40%);
        text-align: center;
    }

    .whatmovies__coming-soon,
    .whatmovies__top-picks,
    .whatmovies__watched-now,
    .whatmovies__most-popular {
        height: 70px;
        position: relative; /* Change position to relative */
        bottom: 0; /* Reset bottom to its default value */
        transform: translate(0%, -600%); /* Reset transform */
        margin-top: 330px; /* Adjust margin to control the spacing */
    }

    .whatmovies__coming-soon button,
    .whatmovies__top-picks button,
    .whatmovies__watched-now button,
    .whatmovies__most-popular button  {
        height: 55px;
    }

    .whatmovies__background-image-title:hover {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .whatmovies__find-movies button {
        padding: 20px;
        margin: 30px auto;
        border-radius: 100px 100px / 120px;
        cursor: pointer;
        font-family: 'cooper black';
        box-sizing: border-box;
        width: 80%;
        max-width: 400px;
    }

    p {
        font-size: 8vw; /* Responsive font size based on viewport width */
        margin-top: 10px;
    }
}


@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 550px) {
    .movie-orbit {
      display: none;
    }
}

@media screen and (max-width: 400px) {

    .movie-orbit {
      display: none;
    }
}