.shows-grid h4, .shows-grid h5 {
  color: #fff; 
  text-align: center; 
}

.tvshows-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.shows-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
  width: 100%; 
  align-items: start; 
}

.show-card {
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

.show-card:hover {
  transform: scale(1.05); 
}

.show-card img {
  width: 100%; 
  border-radius: 8px; 
  margin-bottom: 10px; 
}

.load-more {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 200px; 
  text-align: center; 
}

.load-more:hover {
  background-color: darkgoldenrod;
}