.whatmovies__background-image {
    margin-top: 0rem;
    position: relative;
}

.whatmovies__background-image img {
    width: 100%;
    height: 1220px;
    opacity: 30%;
}

.whatmovies__background-image-title {
    position: absolute;
    top: 22.5%;
    left: 2.5%;
    width: 1000px; 
    height: 800px; 
    backdrop-filter: blur(600px);
    opacity: 0.85;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.whatmovies__background-image-title p {
    font-family: 'cooper black';
    margin-left: 0px;
    font-size: 76px;
} 

.whatmovies__background-image-title:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.whatmovies__find-movies button {
    padding: 20px;
    margin-left: 0px ;
    margin-top: 170px;
    border-radius: 100px 100px / 120px;
    background-color: yellow;
    cursor: pointer;
    font-family: 'cooper black';
    box-sizing: border-box;
    width: 900px;
}


/*============================================================Overlay========================================================================*/

.overlay-content::-webkit-scrollbar {
    width: var(--overlay-sb-size);
}

.overlay-content::-webkit-scrollbar-track {
    background: var(--overlay-sb-track-color);
    border-radius: 3px; 
}

.overlay-content::-webkit-scrollbar-thumb {
    background: var(--overlay-sb-thumb-color);
    border-radius: 3px; 
}

.overlay {
    top: -7rem;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-content {
    background-color: #24292F;
    padding: 50px; 
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto; 
    height: 80vh; 
    width: 90vw; 
    margin: auto;
    
    --overlay-sb-track-color: #232E33;
    --overlay-sb-thumb-color: #26abd8;
    --overlay-sb-size: 8px;

    overflow-y: auto;  
    scrollbar-width: thin; 
    scrollbar-color: var(--overlay-sb-thumb-color) var(--overlay-sb-track-color); 
}

.overlay-content h3 {
    margin-top: -5px;
    font-family: 'cooper black';
}

.overlay-content button {
    padding: 20px;
    margin: 60px 0px 50px 0px; 
    border-radius: 10px; 
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-family: 'cooper black';
    box-sizing: border-box;
    width: 900px; 
}

.overlay-content button:hover {
    background-color: darkgoldenrod;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
    width: 100%; 
}

.overlaymovie {
    background-color: #333; 
    padding: 10px;
    margin: 10px 0; 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

.overlaymovie img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

.overlaymovie h4, .overlaymovie h5 {
    color: #fff; 
    text-align: center; 
}

.hidden {
    display: none;
}

.no-scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

/*=============================================================Media Content==========================================================================*/

@media screen and (max-width: 1000px) {
    .movie {
        display: none;
    }

    .movie-orbit {
        display: none;
      }

    .whatmovies__background-image img {
        width: 100%;
        height: auto;
        opacity: 30%;
    }

    .whatmovies__background-image-title {
        width: 80%;
        max-width: 750px;
        height: auto;
        backdrop-filter: blur(10px);
        opacity: 0.85;
        border-radius: 10px;
        padding: 20px;
        color: white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        transform: translate(12.5%, -40%);
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .movie-orbit {
        display: none;
      }
}

@media screen and (max-width: 550px) {
    .movie-orbit {
      display: none;
    }
}

@media screen and (max-width: 400px) {

    .movie-orbit {
      display: none;
    }
}